Button {
	-fx-background-color: #2e68cc;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-text-fill: white;
}

Button:hover {
	-fx-background-color: #367ef9;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-text-fill: white;
}

Button:pressed {
	-fx-background-color: #29539b;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-text-fill: white;
}